* {

}

#clear-btn {
	width: 360px;
	position: relative;
	left: 50%;
	margin-left: -180px;
	top: 5px;
	height: 36px;
	border-radius: 5px;
}

h1 {
	text-align: center;
}

#grid {
	width: 400px;
	position: relative;
	left: 50%;
	margin-left: -200px;
	border: 1px solid red;
}


td {
	width: 33.33%;
	height: 33.33%;
	position: relative;
	border: 5px solid black;
}

td:after {
	content: '';
	display: block;
	margin-top: 100%;
}


#box-1.x-move{
	background: url(../IMG/x_move.svg);
	background-color: red;
	background-size: 100%;
}

#box-1.o-move{
	background: url(../IMG/o_move.svg);
	background-color: cyan;
	background-size: 100%;
}

#box-2.x-move {
	background: url(../IMG/x_move.svg);
	background-color: red;
	background-size: 100%;
}

#box-2.o-move {
	background: url(../IMG/o_move.svg);
	background-color: cyan;
	background-size: 100%;
}

#box-3.x-move {
	background: url(../IMG/x_move.svg);
	background-color: red;
	background-size: 100%;
}

#box-3.o-move {
	background: url(../IMG/o_move.svg);
	background-color: cyan;
	background-size: 100%;
}

#box-4.x-move {
	background: url(..IMG/x_move.svg);
	background-color: red;
	background-size: 100%;
}

#box-4.o-move {
	background: url(..IMG/o_move.svg);
	background-color: cyan;
	background-size: 100%;
}

#box-5.x-move {
	background: url(..IMG/x_move.svg);
	background-color: red;
	background-size: 100%;
}

#box-5.o-move {
	background: url(..IMG/o_move.svg);
	background-color: cyan;
	background-size: 100%;
}

#box-6.x-move {
	background: url(..IMG/x_move.svg);
	background-color: red;
	background-size: 100%;
}

#box-6.o-move {
	background: url(..IMG/o_move.svg);
	background-color: cyan;
	background-size: 100%;
}

#box-7.x-move {
	background: url(..IMG/x_move.svg);
	background-color: red;
	background-size: 100%;
}

#box-7.o-move {
	background: url(..IMG/o_move.svg);
	background-color: cyan;
	background-size: 100%;
}

#box-8.x-move {
	background: url(..IMG/x_move.svg);
	background-color: red;
	background-size: 100%;
}

#box-8.o-move {
	background: url(..IMG/o_move.svg);
	background-color: cyan;
	background-size: 100%;
}

#box-9.x-move {
	background: url(..IMG/x_move.svg);
	background-color: red;
	background-size: 100%;
}

#box-9.o-move {
	background: url(..IMG/o_move.svg);
	background-color: cyan;
	background-size: 100%;
}




